*{
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
}

nav{
    padding-top: 1em;
    width:100%;
}

nav a{
    text-decoration: none;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a:hover{ 
    color: rgb(228, 84, 17);
    transition: all 0.3s ease;
}

nav ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    flex-basis: auto;
}

h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    font-family: 'CollegeBlock',"sans-serif" ,"Arial";
}

h2{
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-family: 'CollegeBlock',"sans-serif" ,"Arial";
}

h3 {
    font-size: 1em;
    font-family: 'BreeSerif-Regular.ttf';
}

p {
    font-size: 1em;
    width: 100%;
    color: white;
    text-align: center;
}

body {
    background: linear-gradient(to left, #b2843e, #200b37);
    font-size: larger;
    font-family:serif;
    margin: auto;
}
.titel{
    justify-content: left;
    text-align: center;
    padding-top: 1em;
}


.subscribe-button{
    display: inline-block;
    padding: 1em 1em;
    background: orange;
    border: 0.1em solid orange;
    font-size: medium;
    border-radius: 1em;
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}

.subscribe-button:hover{
    background: white;
    color: orange;
}
     
.afleveringen img{
    display: block;
    max-width: 30%;
    margin-left: auto;
    margin-right: 10%;
}

.flexbox{
    display: flex;
    margin-left:3em;
    width:100%;
}

.flexbox p{
    text-align: center;
    width: 30em;
    margin-left:auto;
    margin-right:auto;
    font-weight:400;
    margin:0em
}

.flexbox h2{
    color: white;
    font-size: 5em;
    width: 5em;
    text-align: center;
    font-family: 'CollegeBlock',"sans-serif","Arial";
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
    margin:0em;
}

.flexbox .tekst{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:50%;
}

.flexbox .foto{
    width:100%;
    margin-left:15em;
}

.button{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em;
    background: orange;
    border: 0.1em solid orange;
    font-size: medium;
    border-radius: 1em;
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 600;
    width:50%;
    margin:0em;
}

article{
    background-color:white;
    margin:1em;
    width: 18em;
    border-radius: 1em;
    overflow: hidden;
}

article:hover{
    transform: scale(0.9);
    transition: all 0.3s ease;
}

.informatie{
    margin: 2em;
}

article img{
    width:100%;
}

.kaartje{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{ 
    margin-right: 2em;
}

.wiezijnwij{
    display: block;
    justify-content: space-around;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

main section :nth-of-type(2){
    display: block;
    justify-content: space-around;
}

.lijstje {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.lijstje img{
    width: 20em;
}

.lijstje h2{
    color:black;
    font-size: 1em;
}
 .lijstje p{
    color:black;
 }


.button:hover{
    background: white;
    color: orange;
    transition: all 0.3s ease;
}

.informatie h2{
    color:black;
}

.informatie p{
    color:black;
}

footer p{
    color: black;
}

footer{
    background-color: white ;
    color: black;
    padding-bottom: 0.03em;
    padding-top: 0.03em;
    word-spacing: 20em;
}

@font-face {
    font-family: CollegeBlock;
    src: url(fonts/College\ Block\ 2.0\ D.otf) format(opentype);
}